
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 1.5;
    margin:0;
}
.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(176, 167, 155);
}
.page-header ul {
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    list-style: none;
    
  }
.page-header a {
    display: block;
    padding:0.5em;
    text-decoration:none;
    
  }
  .items {
    padding-top: 5%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    
    
    
  }
  .item{
    border-style: solid;
    justify-content: space-between;
    
  }
  .items img{
    width:100%;
    height:auto;
    margin: 0%;
    display: flex;
    height:min-content
  }
  .items p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10.5px;
    margin-left: 10px;
    display: flex;
    
  }
  .item button{
    display: flex;
    width: auto;
    margin-bottom: 5px;
    margin: auto;
    text-align: center;
    text-align: bottom;
    padding: 5%;
  }